<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canaan.authorization.mapper.SysUserRoleMapper">

    <!-- 根据用户名获取用户角色列表 -->
    <select id="listRoleByUserName" parameterType="java.lang.String" resultType="com.canaan.authorization.entity.SysRole">
        SELECT r.id, r.role_code, r.role_name 
        FROM sys_role AS r 
        INNER JOIN sys_user_role ur ON r.id = ur.role_id
        INNER JOIN sys_user u ON ur.user_id = u.id
        WHERE u.user_name =  #{userName,jdbcType=CHAR}
    </select>
    
    <!-- 根据用户id删除角色用户关系 -->
    <delete id="deleteByUserId" parameterType="java.lang.Integer">
        DELETE FROM sys_user_role t WHERE t.user_id = #{userId,jdbcType=INTEGER}
    </delete>
</mapper>
